form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

.analyze-form {
    box-shadow: #ccc 1px 1px 5px 2px;
    border-radius: 10px;
}

#txt {
    width: 100%;
    resize: none;
}