header {
    display: flex;
    padding: 10px 40px;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    height: 50px;
}

#dog-logo{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.title {
    margin-left: 4px;
}